version: '3.9'

services:
  postgres:
    image: postgres:16-alpine
    container_name: res_economico_postgres
    restart: unless-stopped
    environment:
      POSTGRES_USER: reseco
      POSTGRES_PASSWORD: reseco_pwd
      POSTGRES_DB: reseco_db
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data
    healthcheck:
      test: ['CMD-SHELL', 'pg_isready -U reseco']
      interval: 10s
      timeout: 5s
      retries: 5

  redis:
    image: redis:7-alpine
    container_name: res_economico_redis
    restart: unless-stopped
    ports:
      - "6379:6379"
    volumes:
      - redis_data:/data
    healthcheck:
      test: ['CMD', 'redis-cli', 'ping']
      interval: 10s
      timeout: 5s
      retries: 5

volumes:
  postgres_data:
  redis_data:

