-- CreateEnum
CREATE TYPE "TipoEmpresa" AS ENUM ('MATRIZ', 'FILIAL');

-- CreateEnum
CREATE TYPE "PorteEmpresa" AS ENUM ('MICRO', 'PEQUENA', 'MEDIA', 'GRANDE');

-- CreateEnum
CREATE TYPE "ModeloNegocio" AS ENUM ('ASSOCIACAO', 'COMERCIO', 'INDUSTRIA', 'SERVICOS', 'AGROPECUARIA', 'OUTRO');

-- CreateEnum
CREATE TYPE "ResumoStatus" AS ENUM ('PROCESSANDO', 'CONCLUIDO', 'ERRO', 'CANCELADO');

-- CreateEnum
CREATE TYPE "UploadStatus" AS ENUM ('PROCESSANDO', 'CONCLUIDO', 'COM_ALERTAS', 'CANCELADO');

-- CreateEnum
CREATE TYPE "AlertaTipo" AS ENUM ('SALDO_DIVERGENTE', 'CONTA_NOVA', 'DADO_INCONSISTENTE', 'CABECALHO_ALTERADO', 'CONTINUIDADE_TEMPORAL_DIVERGENTE');

-- CreateEnum
CREATE TYPE "AlertaSeveridade" AS ENUM ('BAIXA', 'MEDIA', 'ALTA');

-- CreateEnum
CREATE TYPE "AlertaStatus" AS ENUM ('ABERTO', 'EM_ANALISE', 'RESOLVIDO');

-- CreateEnum
CREATE TYPE "ContaStatus" AS ENUM ('ATIVA', 'NOVA', 'ARQUIVADA');

-- CreateEnum
CREATE TYPE "Departamento" AS ENUM ('FINANCEIRO', 'COMPRAS', 'GESTOR', 'FATURAMENTO');

-- CreateEnum
CREATE TYPE "TipoProcesso" AS ENUM ('GARANTIA', 'DEVOLUCAO', 'RECLAMACAO');

-- CreateEnum
CREATE TYPE "SituacaoProcesso" AS ENUM ('AGUARDANDO_ANALISE', 'EM_ANALISE', 'APROVADO', 'REJEITADO', 'EM_PROCESSAMENTO', 'CONCLUIDO', 'CANCELADO');

-- CreateEnum
CREATE TYPE "CategoriaReclamacao" AS ENUM ('ATENDIMENTO', 'PRODUTOS', 'LOGISTICA', 'FINANCEIRO', 'TECNICO', 'COMUNICACAO');

-- CreateEnum
CREATE TYPE "PrioridadeProcesso" AS ENUM ('BAIXA', 'MEDIA', 'ALTA');

-- CreateEnum
CREATE TYPE "TipoArquivoProcesso" AS ENUM ('IMAGEM', 'VIDEO', 'DOCUMENTO', 'NOTA_FISCAL', 'PROTOCOLO_FABRICA');

-- CreateEnum
CREATE TYPE "TipoReuniao" AS ENUM ('ASSEMBLEIA_GERAL', 'CONSELHO_DIRETOR', 'REUNIAO_ORDINARIA', 'REUNIAO_EXTRAORDINARIA', 'COMISSAO', 'OUTRO');

-- CreateEnum
CREATE TYPE "StatusAta" AS ENUM ('RASCUNHO', 'EM_PROCESSO', 'FINALIZADA', 'PUBLICADA', 'ARQUIVADA');

-- CreateEnum
CREATE TYPE "TipoArquivoAta" AS ENUM ('DOCUMENTO', 'IMAGEM', 'PDF', 'PLANILHA', 'OUTRO');

-- CreateEnum
CREATE TYPE "TipoComentario" AS ENUM ('COMENTARIO', 'SUGESTAO', 'APROVACAO', 'REPROVACAO');

-- CreateEnum
CREATE TYPE "StatusPrazo" AS ENUM ('PENDENTE', 'EM_ANDAMENTO', 'CONCLUIDO', 'VENCIDO', 'CANCELADO');

-- CreateEnum
CREATE TYPE "TipoLembrete" AS ENUM ('EMAIL', 'NOTIFICACAO_SISTEMA', 'AMBOS');

-- CreateEnum
CREATE TYPE "TipoAlteracaoAta" AS ENUM ('CRIACAO', 'EDICAO', 'EXCLUSAO', 'MUDANCA_STATUS', 'ADICAO_HISTORICO', 'EDICAO_HISTORICO', 'EXCLUSAO_HISTORICO', 'ADICAO_PRAZO', 'EDICAO_PRAZO', 'EXCLUSAO_PRAZO', 'CONCLUSAO_PRAZO', 'ADICAO_COMENTARIO', 'EDICAO_COMENTARIO', 'EXCLUSAO_COMENTARIO', 'UPLOAD_ARQUIVO', 'DOWNLOAD_ARQUIVO');

-- CreateEnum
CREATE TYPE "StatusEnvioEmail" AS ENUM ('PENDENTE', 'ENVIADO', 'FALHA', 'CANCELADO');

-- CreateEnum
CREATE TYPE "TipoClienteAssociacao" AS ENUM ('VENDA', 'PEDIDO', 'AMBOS');

-- CreateTable
CREATE TABLE "Empresa" (
    "id" TEXT NOT NULL,
    "cnpj" TEXT NOT NULL,
    "razaoSocial" TEXT NOT NULL,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,
    "filial" TEXT,
    "tipo" "TipoEmpresa" NOT NULL DEFAULT 'MATRIZ',
    "uf" TEXT,
    "setor" TEXT,
    "porte" "PorteEmpresa",
    "dataFundacao" TIMESTAMP(3),
    "descricao" TEXT,
    "website" TEXT,
    "modeloNegocio" "ModeloNegocio",
    "modeloNegocioDetalhes" JSONB,
    "contasReceita" JSONB,
    "custosCentralizados" BOOLEAN,
    "contasCustos" JSONB,
    "receitasCentralizadas" BOOLEAN,

    CONSTRAINT "Empresa_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "ConfiguracaoModeloNegocio" (
    "id" TEXT NOT NULL,
    "modeloNegocio" "ModeloNegocio" NOT NULL,
    "modeloNegocioDetalhes" JSONB NOT NULL,
    "contasReceita" JSONB NOT NULL,
    "contasCustos" JSONB NOT NULL,
    "custosCentralizados" BOOLEAN NOT NULL,
    "descricao" TEXT,
    "ativo" BOOLEAN NOT NULL DEFAULT true,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,
    "receitasCentralizadas" BOOLEAN NOT NULL DEFAULT false,

    CONSTRAINT "ConfiguracaoModeloNegocio_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "Usuario" (
    "id" TEXT NOT NULL,
    "email" TEXT NOT NULL,
    "senha" TEXT NOT NULL,
    "nome" TEXT NOT NULL,
    "roles" TEXT[] DEFAULT ARRAY['user']::TEXT[],
    "empresaId" TEXT,
    "ativo" BOOLEAN NOT NULL DEFAULT true,
    "ultimoAcesso" TIMESTAMP(3),
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,
    "departamento" "Departamento",

    CONSTRAINT "Usuario_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "TemplateImportacao" (
    "id" TEXT NOT NULL,
    "empresaId" TEXT,
    "nome" TEXT NOT NULL,
    "descricao" TEXT,
    "configuracao" JSONB NOT NULL,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "TemplateImportacao_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "Upload" (
    "id" TEXT NOT NULL,
    "templateId" TEXT,
    "mes" INTEGER NOT NULL,
    "ano" INTEGER NOT NULL,
    "arquivoUrl" TEXT NOT NULL,
    "hashArquivo" TEXT NOT NULL,
    "status" "UploadStatus" NOT NULL DEFAULT 'PROCESSANDO',
    "totalLinhas" INTEGER NOT NULL,
    "createdBy" TEXT NOT NULL,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,
    "empresaId" TEXT NOT NULL,
    "nomeArquivo" TEXT NOT NULL,

    CONSTRAINT "Upload_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "LinhaUpload" (
    "id" TEXT NOT NULL,
    "uploadId" TEXT NOT NULL,
    "classificacao" TEXT NOT NULL,
    "conta" TEXT NOT NULL,
    "subConta" TEXT,
    "nomeConta" TEXT NOT NULL,
    "tipoConta" TEXT NOT NULL,
    "nivel" INTEGER NOT NULL,
    "titulo" BOOLEAN NOT NULL,
    "estabelecimento" BOOLEAN NOT NULL,
    "saldoAnterior" DECIMAL(18,2) NOT NULL,
    "debito" DECIMAL(18,2) NOT NULL,
    "credito" DECIMAL(18,2) NOT NULL,
    "saldoAtual" DECIMAL(18,2) NOT NULL,
    "hashLinha" TEXT NOT NULL,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "LinhaUpload_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "ContaCatalogo" (
    "id" TEXT NOT NULL,
    "classificacao" TEXT NOT NULL,
    "conta" TEXT NOT NULL,
    "tipoConta" TEXT NOT NULL,
    "nivel" INTEGER NOT NULL,
    "primeiraImportacao" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "ultimaImportacao" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "status" "ContaStatus" NOT NULL DEFAULT 'ATIVA',
    "subConta" TEXT NOT NULL DEFAULT '',
    "nomeConta" TEXT NOT NULL,

    CONSTRAINT "ContaCatalogo_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "Alerta" (
    "id" TEXT NOT NULL,
    "uploadId" TEXT NOT NULL,
    "linhaId" TEXT,
    "tipo" "AlertaTipo" NOT NULL,
    "severidade" "AlertaSeveridade" NOT NULL,
    "mensagem" TEXT NOT NULL,
    "status" "AlertaStatus" NOT NULL DEFAULT 'ABERTO',
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "resolvedAt" TIMESTAMP(3),

    CONSTRAINT "Alerta_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "LogAuditoria" (
    "id" TEXT NOT NULL,
    "recurso" TEXT NOT NULL,
    "acao" TEXT NOT NULL,
    "usuarioId" TEXT NOT NULL,
    "dados" JSONB NOT NULL,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "LogAuditoria_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "ResumoEconomico" (
    "id" TEXT NOT NULL,
    "titulo" TEXT NOT NULL,
    "periodo" TEXT NOT NULL,
    "mes" INTEGER,
    "ano" INTEGER NOT NULL,
    "empresaId" TEXT,
    "uploadId" TEXT,
    "tipoAnalise" TEXT NOT NULL,
    "parametros" JSONB NOT NULL,
    "resultado" JSONB NOT NULL,
    "modeloIA" TEXT NOT NULL,
    "status" "ResumoStatus" NOT NULL DEFAULT 'PROCESSANDO',
    "criadoPor" TEXT NOT NULL,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "ResumoEconomico_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "Processo" (
    "id" TEXT NOT NULL,
    "numeroControle" TEXT NOT NULL,
    "protocolo" TEXT NOT NULL,
    "userId" TEXT NOT NULL,
    "empresaId" TEXT,
    "tipo" "TipoProcesso" NOT NULL,
    "situacao" "SituacaoProcesso" NOT NULL DEFAULT 'AGUARDANDO_ANALISE',
    "nomeClienteAssociado" TEXT NOT NULL,
    "razaoSocial" TEXT NOT NULL,
    "titulo" TEXT,
    "descricao" TEXT,
    "categoria" "CategoriaReclamacao",
    "prioridade" "PrioridadeProcesso",
    "contatoRetorno" TEXT,
    "uf" TEXT,
    "cidade" TEXT,
    "fabrica" TEXT,
    "importacao" TEXT,
    "ano" TEXT,
    "reclamacao" TEXT,
    "responsavel" TEXT,
    "prazoResolucao" TIMESTAMP(3),
    "dataSolucao" TIMESTAMP(3),
    "comentarios" TEXT,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "Processo_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "ProcessoItem" (
    "id" TEXT NOT NULL,
    "processoId" TEXT NOT NULL,
    "nf" TEXT NOT NULL,
    "referencia" TEXT NOT NULL,
    "descricaoProduto" TEXT,
    "qtd" INTEGER NOT NULL,
    "valorUnit" DECIMAL(18,2) NOT NULL,
    "detalhes" TEXT NOT NULL,
    "marca" TEXT,
    "dataInstalacao" TIMESTAMP(3),
    "dataRemocao" TIMESTAMP(3),
    "kmInstalacao" TEXT,
    "kmRemocao" TEXT,
    "modeloVeiculo" TEXT,
    "anoVeiculo" TEXT,
    "marcaVeiculo" TEXT,
    "temCustoGarantia" BOOLEAN NOT NULL DEFAULT false,
    "valorCusto" DECIMAL(18,2),
    "infoPecas" TEXT,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "ProcessoItem_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "ProcessoAnexo" (
    "id" TEXT NOT NULL,
    "processoId" TEXT NOT NULL,
    "nomeArquivo" TEXT NOT NULL,
    "urlArquivo" TEXT NOT NULL,
    "tipoArquivo" "TipoArquivoProcesso" NOT NULL,
    "tamanhoArquivo" INTEGER,
    "mimeType" TEXT,
    "uploadedBy" TEXT,
    "metadata" JSONB,
    "uploadedAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "ProcessoAnexo_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "ProcessoHistorico" (
    "id" TEXT NOT NULL,
    "processoId" TEXT NOT NULL,
    "acao" TEXT NOT NULL,
    "descricao" TEXT NOT NULL,
    "usuarioId" TEXT,
    "usuarioNome" TEXT,
    "dadosAnteriores" JSONB,
    "dadosNovos" JSONB,
    "metadata" JSONB,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "ProcessoHistorico_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "AtaReuniao" (
    "id" TEXT NOT NULL,
    "numero" TEXT NOT NULL,
    "titulo" TEXT NOT NULL,
    "tipo" "TipoReuniao" NOT NULL,
    "dataReuniao" TIMESTAMP(3) NOT NULL,
    "local" TEXT,
    "status" "StatusAta" NOT NULL DEFAULT 'RASCUNHO',
    "pauta" TEXT,
    "conteudo" TEXT,
    "descricao" TEXT,
    "resumo" TEXT,
    "pautas" JSONB,
    "decisoes" JSONB,
    "acoes" JSONB,
    "observacoes" TEXT,
    "geradoPorIa" BOOLEAN,
    "iaUsada" TEXT,
    "modeloIa" TEXT,
    "custoIa" TEXT,
    "tempoProcessamentoIa" INTEGER,
    "arquivoOriginalUrl" TEXT,
    "arquivoOriginalNome" TEXT,
    "arquivoOriginalTipo" TEXT,
    "dataAssinatura" TIMESTAMP(3),
    "dataRegistro" TIMESTAMP(3),
    "cartorioRegistro" TEXT,
    "numeroRegistro" TEXT,
    "pendenteAssinatura" BOOLEAN NOT NULL DEFAULT false,
    "pendenteRegistro" BOOLEAN NOT NULL DEFAULT false,
    "modeloAtaId" TEXT,
    "criadoPor" TEXT NOT NULL,
    "empresaId" TEXT,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "AtaReuniao_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "AtaParticipante" (
    "id" TEXT NOT NULL,
    "ataId" TEXT NOT NULL,
    "usuarioId" TEXT,
    "nomeExterno" TEXT,
    "email" TEXT,
    "cargo" TEXT,
    "presente" BOOLEAN NOT NULL DEFAULT true,
    "observacoes" TEXT,

    CONSTRAINT "AtaParticipante_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "AtaAnexo" (
    "id" TEXT NOT NULL,
    "ataId" TEXT NOT NULL,
    "nomeArquivo" TEXT NOT NULL,
    "urlArquivo" TEXT NOT NULL,
    "tipoArquivo" "TipoArquivoAta" NOT NULL,
    "tamanhoArquivo" INTEGER,
    "mimeType" TEXT,
    "uploadedBy" TEXT,
    "descricao" TEXT,
    "uploadedAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "AtaAnexo_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "AtaComentario" (
    "id" TEXT NOT NULL,
    "ataId" TEXT NOT NULL,
    "comentario" TEXT NOT NULL,
    "tipo" "TipoComentario" NOT NULL,
    "autorId" TEXT NOT NULL,
    "comentarioPaiId" TEXT,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "AtaComentario_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "ModeloAta" (
    "id" TEXT NOT NULL,
    "nome" TEXT NOT NULL,
    "descricao" TEXT,
    "tipoReuniao" "TipoReuniao" NOT NULL,
    "estrutura" JSONB NOT NULL,
    "exemplo" JSONB,
    "instrucoes" TEXT,
    "ativo" BOOLEAN NOT NULL DEFAULT true,
    "criadoPor" TEXT NOT NULL,
    "empresaId" TEXT,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "ModeloAta_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "HistoricoAndamento" (
    "id" TEXT NOT NULL,
    "ataId" TEXT NOT NULL,
    "data" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "acao" TEXT NOT NULL,
    "descricao" TEXT,
    "responsavel" TEXT,
    "criadoPor" TEXT NOT NULL,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "HistoricoAndamento_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "PrazoAcao" (
    "id" TEXT NOT NULL,
    "ataId" TEXT NOT NULL,
    "acaoId" TEXT,
    "titulo" TEXT NOT NULL,
    "descricao" TEXT,
    "dataPrazo" TIMESTAMP(3) NOT NULL,
    "dataConclusao" TIMESTAMP(3),
    "status" "StatusPrazo" NOT NULL DEFAULT 'PENDENTE',
    "concluido" BOOLEAN NOT NULL DEFAULT false,
    "lembretesEnviados" INTEGER NOT NULL DEFAULT 0,
    "ultimoLembrete" TIMESTAMP(3),
    "criadoPor" TEXT NOT NULL,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "PrazoAcao_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "LembretePrazo" (
    "id" TEXT NOT NULL,
    "prazoId" TEXT NOT NULL,
    "usuarioId" TEXT NOT NULL,
    "tipo" "TipoLembrete" NOT NULL,
    "mensagem" TEXT NOT NULL,
    "enviado" BOOLEAN NOT NULL DEFAULT false,
    "dataEnvio" TIMESTAMP(3),
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "LembretePrazo_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "PreferenciaNotificacao" (
    "id" TEXT NOT NULL,
    "usuarioId" TEXT NOT NULL,
    "emailAtivo" BOOLEAN NOT NULL DEFAULT true,
    "sistemaAtivo" BOOLEAN NOT NULL DEFAULT true,
    "pushAtivo" BOOLEAN NOT NULL DEFAULT false,
    "lembrete3Dias" BOOLEAN NOT NULL DEFAULT true,
    "lembrete1Dia" BOOLEAN NOT NULL DEFAULT true,
    "lembreteHoje" BOOLEAN NOT NULL DEFAULT true,
    "lembreteVencido" BOOLEAN NOT NULL DEFAULT true,
    "horarioInicio" TEXT NOT NULL DEFAULT '08:00',
    "horarioFim" TEXT NOT NULL DEFAULT '18:00',
    "diasSemana" TEXT[] DEFAULT ARRAY['segunda', 'terca', 'quarta', 'quinta', 'sexta']::TEXT[],
    "notificarPrazos" BOOLEAN NOT NULL DEFAULT true,
    "notificarHistorico" BOOLEAN NOT NULL DEFAULT false,
    "notificarComentarios" BOOLEAN NOT NULL DEFAULT false,
    "notificarStatus" BOOLEAN NOT NULL DEFAULT true,
    "resumoDiario" BOOLEAN NOT NULL DEFAULT false,
    "resumoSemanal" BOOLEAN NOT NULL DEFAULT true,
    "diaResumoSemanal" TEXT NOT NULL DEFAULT 'segunda',
    "horarioResumoSemanal" TEXT NOT NULL DEFAULT '09:00',
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "PreferenciaNotificacao_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "PushSubscription" (
    "id" TEXT NOT NULL,
    "usuarioId" TEXT NOT NULL,
    "endpoint" TEXT NOT NULL,
    "p256dh" TEXT NOT NULL,
    "auth" TEXT NOT NULL,
    "userAgent" TEXT,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "PushSubscription_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "LogAlteracaoAta" (
    "id" TEXT NOT NULL,
    "ataId" TEXT NOT NULL,
    "usuarioId" TEXT NOT NULL,
    "tipoAlteracao" "TipoAlteracaoAta" NOT NULL,
    "campo" TEXT,
    "valorAnterior" TEXT,
    "valorNovo" TEXT,
    "descricao" TEXT,
    "metadata" JSONB,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "LogAlteracaoAta_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "ConfiguracaoEmail" (
    "id" TEXT NOT NULL,
    "nome" TEXT NOT NULL,
    "host" TEXT NOT NULL,
    "porta" INTEGER NOT NULL,
    "autenticar" BOOLEAN NOT NULL DEFAULT true,
    "usuario" TEXT NOT NULL,
    "senha" TEXT NOT NULL,
    "copiasPara" TEXT,
    "ativo" BOOLEAN NOT NULL DEFAULT true,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "ConfiguracaoEmail_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "LogEnvioEmail" (
    "id" TEXT NOT NULL,
    "configuracaoId" TEXT NOT NULL,
    "destinatario" TEXT NOT NULL,
    "assunto" TEXT NOT NULL,
    "corpo" TEXT,
    "status" "StatusEnvioEmail" NOT NULL DEFAULT 'PENDENTE',
    "erro" TEXT,
    "tentativas" INTEGER NOT NULL DEFAULT 0,
    "enviadoEm" TIMESTAMP(3),
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "LogEnvioEmail_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "BravoSyncConfig" (
    "id" TEXT NOT NULL,
    "chave" TEXT NOT NULL,
    "valor" TEXT NOT NULL,
    "descricao" TEXT,
    "tipo" TEXT NOT NULL DEFAULT 'string',
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "BravoSyncConfig_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "BravoCampoMapeamento" (
    "id" SERIAL NOT NULL,
    "campo_bravo" TEXT NOT NULL,
    "campo_interno" TEXT NOT NULL,
    "tipo_transformacao" TEXT NOT NULL DEFAULT 'direto',
    "ativo" BOOLEAN NOT NULL DEFAULT true,
    "ordem" INTEGER NOT NULL DEFAULT 0,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "BravoCampoMapeamento_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "Produto" (
    "id" TEXT NOT NULL,
    "referencia" TEXT NOT NULL,
    "id_prod" TEXT,
    "descricao" TEXT,
    "marca" TEXT,
    "grupo" TEXT,
    "subgrupo" TEXT,
    "ativo" BOOLEAN NOT NULL DEFAULT true,
    "gtin" TEXT,
    "ncm" TEXT,
    "cest" TEXT,
    "dataUltModif" TIMESTAMP(3),
    "metadata" JSONB,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "Produto_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "BravoSyncLog" (
    "id" TEXT NOT NULL,
    "sync_type" TEXT NOT NULL,
    "status" TEXT NOT NULL DEFAULT 'running',
    "status_detalhado" TEXT,
    "apenas_ativos" BOOLEAN NOT NULL DEFAULT true,
    "limit_requested" INTEGER,
    "pages_requested" INTEGER,
    "effective_limit" INTEGER,
    "current_page" INTEGER DEFAULT 1,
    "pages_processed" INTEGER DEFAULT 0,
    "total_pages_found" INTEGER,
    "resume_from_page" INTEGER,
    "total_produtos_bravo" INTEGER DEFAULT 0,
    "produtos_filtrados" INTEGER DEFAULT 0,
    "produtos_analisados" INTEGER DEFAULT 0,
    "produtos_inseridos" INTEGER DEFAULT 0,
    "produtos_atualizados" INTEGER DEFAULT 0,
    "produtos_ignorados" INTEGER DEFAULT 0,
    "produtos_com_erro" INTEGER DEFAULT 0,
    "taxa_otimizacao" TEXT,
    "economia_queries" INTEGER DEFAULT 0,
    "error_message" TEXT,
    "error_details" JSONB,
    "tipos_erro" JSONB,
    "sugestoes_correcao" TEXT[],
    "tempo_total_segundos" INTEGER,
    "percentual_sucesso" INTEGER,
    "triggered_by" TEXT,
    "user_agent" TEXT,
    "userId" TEXT,
    "can_resume" BOOLEAN NOT NULL DEFAULT false,
    "sync_details" JSONB,
    "started_at" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "completed_at" TIMESTAMP(3),
    "last_activity_at" TIMESTAMP(3),

    CONSTRAINT "BravoSyncLog_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "BravoSyncProgress" (
    "id" TEXT NOT NULL,
    "sync_log_id" TEXT NOT NULL,
    "progress_percentage" DECIMAL(5,2) NOT NULL,
    "current_step" TEXT,
    "current_page" INTEGER,
    "total_pages" INTEGER,
    "products_processed" INTEGER DEFAULT 0,
    "products_inserted_current_page" INTEGER DEFAULT 0,
    "total_produtos_bravo" INTEGER,
    "estimated_time_remaining" TEXT,
    "current_product" TEXT,
    "status_atual" TEXT,
    "etapa_atual" TEXT,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "BravoSyncProgress_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "Marca" (
    "id" TEXT NOT NULL,
    "nome" TEXT NOT NULL,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "Marca_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "Grupo" (
    "id" TEXT NOT NULL,
    "nome" TEXT NOT NULL,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "Grupo_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "Subgrupo" (
    "id" TEXT NOT NULL,
    "nome" TEXT NOT NULL,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "Subgrupo_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "Venda" (
    "id" TEXT NOT NULL,
    "nfe" TEXT NOT NULL,
    "idDoc" TEXT,
    "dataVenda" TIMESTAMP(3) NOT NULL,
    "razaoSocial" TEXT NOT NULL,
    "nomeFantasia" TEXT,
    "cnpjCliente" TEXT,
    "ufDestino" TEXT,
    "ufOrigem" TEXT,
    "idProd" TEXT,
    "referencia" TEXT,
    "prodCodMestre" TEXT,
    "descricaoProduto" TEXT,
    "marca" TEXT,
    "grupo" TEXT,
    "subgrupo" TEXT,
    "tipoOperacao" TEXT,
    "quantidade" DECIMAL(18,3) NOT NULL,
    "valorUnitario" DECIMAL(18,2) NOT NULL,
    "valorTotal" DECIMAL(18,2) NOT NULL,
    "empresaId" TEXT,
    "produtoId" TEXT,
    "importacaoLogId" TEXT,
    "metadata" JSONB,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "Venda_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "VendaAnalytics" (
    "id" TEXT NOT NULL,
    "ano" INTEGER NOT NULL,
    "mes" INTEGER NOT NULL,
    "empresaId" TEXT,
    "nomeFantasia" TEXT NOT NULL,
    "marca" TEXT NOT NULL,
    "grupo" TEXT,
    "subgrupo" TEXT,
    "tipoOperacao" TEXT,
    "uf" TEXT NOT NULL,
    "totalValor" DECIMAL(18,2) NOT NULL,
    "totalQuantidade" DECIMAL(18,3) NOT NULL,
    "updatedAt" TIMESTAMP(3) NOT NULL,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "VendaAnalytics_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "VendaImportacaoLog" (
    "id" TEXT NOT NULL,
    "nomeArquivo" TEXT NOT NULL,
    "mappingName" TEXT,
    "totalLinhas" INTEGER NOT NULL,
    "sucessoCount" INTEGER NOT NULL DEFAULT 0,
    "erroCount" INTEGER NOT NULL DEFAULT 0,
    "produtosNaoEncontrados" INTEGER NOT NULL DEFAULT 0,
    "duplicatasCount" INTEGER NOT NULL DEFAULT 0,
    "novosCount" INTEGER NOT NULL DEFAULT 0,
    "progresso" INTEGER NOT NULL DEFAULT 0,
    "linhasProcessadas" INTEGER NOT NULL DEFAULT 0,
    "usuarioEmail" TEXT NOT NULL,
    "usuarioId" TEXT,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "VendaImportacaoLog_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "VendaColumnMapping" (
    "id" TEXT NOT NULL,
    "nome" TEXT NOT NULL,
    "columnMapping" JSONB NOT NULL,
    "filters" JSONB,
    "descricao" TEXT,
    "usuarioId" TEXT,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "VendaColumnMapping_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "VendaAnalyticsFilter" (
    "id" TEXT NOT NULL,
    "nome" TEXT NOT NULL,
    "filters" JSONB NOT NULL,
    "descricao" TEXT,
    "usuarioId" TEXT,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "VendaAnalyticsFilter_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "Pedido" (
    "id" TEXT NOT NULL,
    "numeroPedido" TEXT NOT NULL,
    "idDoc" TEXT,
    "dataPedido" TIMESTAMP(3) NOT NULL,
    "nomeFantasia" TEXT NOT NULL,
    "idProd" TEXT,
    "referencia" TEXT,
    "descricaoProduto" TEXT,
    "marca" TEXT,
    "grupo" TEXT,
    "subgrupo" TEXT,
    "quantidade" DECIMAL(18,3) NOT NULL,
    "valorUnitario" DECIMAL(18,2) NOT NULL,
    "valorTotal" DECIMAL(18,2) NOT NULL,
    "empresaId" TEXT,
    "produtoId" TEXT,
    "importacaoLogId" TEXT,
    "metadata" JSONB,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "Pedido_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "PedidoAnalytics" (
    "id" TEXT NOT NULL,
    "ano" INTEGER NOT NULL,
    "mes" INTEGER NOT NULL,
    "empresaId" TEXT,
    "nomeFantasia" TEXT NOT NULL,
    "marca" TEXT NOT NULL,
    "grupo" TEXT,
    "subgrupo" TEXT,
    "totalValor" DECIMAL(18,2) NOT NULL,
    "totalQuantidade" DECIMAL(18,3) NOT NULL,
    "updatedAt" TIMESTAMP(3) NOT NULL,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "PedidoAnalytics_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "PedidoImportacaoLog" (
    "id" TEXT NOT NULL,
    "nomeArquivo" TEXT NOT NULL,
    "mappingName" TEXT,
    "totalLinhas" INTEGER NOT NULL,
    "sucessoCount" INTEGER NOT NULL DEFAULT 0,
    "erroCount" INTEGER NOT NULL DEFAULT 0,
    "produtosNaoEncontrados" INTEGER NOT NULL DEFAULT 0,
    "duplicatasCount" INTEGER NOT NULL DEFAULT 0,
    "novosCount" INTEGER NOT NULL DEFAULT 0,
    "progresso" INTEGER NOT NULL DEFAULT 0,
    "linhasProcessadas" INTEGER NOT NULL DEFAULT 0,
    "usuarioEmail" TEXT NOT NULL,
    "usuarioId" TEXT,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "PedidoImportacaoLog_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "PedidoColumnMapping" (
    "id" TEXT NOT NULL,
    "nome" TEXT NOT NULL,
    "columnMapping" JSONB NOT NULL,
    "filters" JSONB,
    "descricao" TEXT,
    "usuarioId" TEXT,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "PedidoColumnMapping_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "PedidoAnalyticsFilter" (
    "id" TEXT NOT NULL,
    "nome" TEXT NOT NULL,
    "filters" JSONB NOT NULL,
    "descricao" TEXT,
    "usuarioId" TEXT,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "PedidoAnalyticsFilter_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "UsuarioCliente" (
    "id" TEXT NOT NULL,
    "usuarioId" TEXT NOT NULL,
    "nomeFantasia" TEXT NOT NULL,
    "tipoCliente" "TipoClienteAssociacao" NOT NULL,
    "permissoes" JSONB,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,
    "createdBy" TEXT,

    CONSTRAINT "UsuarioCliente_pkey" PRIMARY KEY ("id")
);

-- CreateIndex
CREATE UNIQUE INDEX "Empresa_cnpj_key" ON "Empresa"("cnpj");

-- CreateIndex
CREATE UNIQUE INDEX "ConfiguracaoModeloNegocio_modeloNegocio_key" ON "ConfiguracaoModeloNegocio"("modeloNegocio");

-- CreateIndex
CREATE UNIQUE INDEX "Usuario_email_key" ON "Usuario"("email");

-- CreateIndex
CREATE INDEX "Upload_status_ano_idx" ON "Upload"("status", "ano");

-- CreateIndex
CREATE INDEX "Upload_ano_mes_idx" ON "Upload"("ano", "mes");

-- CreateIndex
CREATE INDEX "Upload_empresaId_ano_mes_idx" ON "Upload"("empresaId", "ano", "mes");

-- CreateIndex
CREATE INDEX "Upload_status_empresaId_ano_idx" ON "Upload"("status", "empresaId", "ano");

-- CreateIndex
CREATE UNIQUE INDEX "ContaCatalogo_classificacao_conta_subConta_key" ON "ContaCatalogo"("classificacao", "conta", "subConta");

-- CreateIndex
CREATE INDEX "ResumoEconomico_empresaId_ano_mes_idx" ON "ResumoEconomico"("empresaId", "ano", "mes");

-- CreateIndex
CREATE INDEX "ResumoEconomico_criadoPor_createdAt_idx" ON "ResumoEconomico"("criadoPor", "createdAt");

-- CreateIndex
CREATE INDEX "ResumoEconomico_status_idx" ON "ResumoEconomico"("status");

-- CreateIndex
CREATE UNIQUE INDEX "Processo_numeroControle_key" ON "Processo"("numeroControle");

-- CreateIndex
CREATE UNIQUE INDEX "Processo_protocolo_key" ON "Processo"("protocolo");

-- CreateIndex
CREATE INDEX "Processo_userId_createdAt_idx" ON "Processo"("userId", "createdAt");

-- CreateIndex
CREATE INDEX "Processo_empresaId_createdAt_idx" ON "Processo"("empresaId", "createdAt");

-- CreateIndex
CREATE INDEX "Processo_tipo_situacao_idx" ON "Processo"("tipo", "situacao");

-- CreateIndex
CREATE INDEX "Processo_situacao_createdAt_idx" ON "Processo"("situacao", "createdAt");

-- CreateIndex
CREATE INDEX "Processo_numeroControle_idx" ON "Processo"("numeroControle");

-- CreateIndex
CREATE INDEX "Processo_protocolo_idx" ON "Processo"("protocolo");

-- CreateIndex
CREATE INDEX "ProcessoItem_processoId_idx" ON "ProcessoItem"("processoId");

-- CreateIndex
CREATE INDEX "ProcessoAnexo_processoId_idx" ON "ProcessoAnexo"("processoId");

-- CreateIndex
CREATE INDEX "ProcessoHistorico_processoId_createdAt_idx" ON "ProcessoHistorico"("processoId", "createdAt");

-- CreateIndex
CREATE INDEX "ProcessoHistorico_usuarioId_idx" ON "ProcessoHistorico"("usuarioId");

-- CreateIndex
CREATE UNIQUE INDEX "AtaReuniao_numero_key" ON "AtaReuniao"("numero");

-- CreateIndex
CREATE INDEX "AtaReuniao_dataReuniao_idx" ON "AtaReuniao"("dataReuniao");

-- CreateIndex
CREATE INDEX "AtaReuniao_status_idx" ON "AtaReuniao"("status");

-- CreateIndex
CREATE INDEX "AtaReuniao_empresaId_idx" ON "AtaReuniao"("empresaId");

-- CreateIndex
CREATE INDEX "AtaReuniao_criadoPor_idx" ON "AtaReuniao"("criadoPor");

-- CreateIndex
CREATE INDEX "AtaReuniao_tipo_idx" ON "AtaReuniao"("tipo");

-- CreateIndex
CREATE INDEX "AtaParticipante_ataId_idx" ON "AtaParticipante"("ataId");

-- CreateIndex
CREATE INDEX "AtaParticipante_usuarioId_idx" ON "AtaParticipante"("usuarioId");

-- CreateIndex
CREATE INDEX "AtaAnexo_ataId_idx" ON "AtaAnexo"("ataId");

-- CreateIndex
CREATE INDEX "AtaComentario_ataId_idx" ON "AtaComentario"("ataId");

-- CreateIndex
CREATE INDEX "AtaComentario_autorId_idx" ON "AtaComentario"("autorId");

-- CreateIndex
CREATE INDEX "AtaComentario_comentarioPaiId_idx" ON "AtaComentario"("comentarioPaiId");

-- CreateIndex
CREATE INDEX "ModeloAta_tipoReuniao_idx" ON "ModeloAta"("tipoReuniao");

-- CreateIndex
CREATE INDEX "ModeloAta_empresaId_idx" ON "ModeloAta"("empresaId");

-- CreateIndex
CREATE INDEX "ModeloAta_ativo_idx" ON "ModeloAta"("ativo");

-- CreateIndex
CREATE INDEX "HistoricoAndamento_ataId_idx" ON "HistoricoAndamento"("ataId");

-- CreateIndex
CREATE INDEX "HistoricoAndamento_data_idx" ON "HistoricoAndamento"("data");

-- CreateIndex
CREATE INDEX "PrazoAcao_ataId_idx" ON "PrazoAcao"("ataId");

-- CreateIndex
CREATE INDEX "PrazoAcao_dataPrazo_idx" ON "PrazoAcao"("dataPrazo");

-- CreateIndex
CREATE INDEX "PrazoAcao_status_idx" ON "PrazoAcao"("status");

-- CreateIndex
CREATE INDEX "PrazoAcao_concluido_idx" ON "PrazoAcao"("concluido");

-- CreateIndex
CREATE INDEX "LembretePrazo_prazoId_idx" ON "LembretePrazo"("prazoId");

-- CreateIndex
CREATE INDEX "LembretePrazo_usuarioId_idx" ON "LembretePrazo"("usuarioId");

-- CreateIndex
CREATE INDEX "LembretePrazo_enviado_idx" ON "LembretePrazo"("enviado");

-- CreateIndex
CREATE UNIQUE INDEX "PreferenciaNotificacao_usuarioId_key" ON "PreferenciaNotificacao"("usuarioId");

-- CreateIndex
CREATE INDEX "PushSubscription_usuarioId_idx" ON "PushSubscription"("usuarioId");

-- CreateIndex
CREATE UNIQUE INDEX "PushSubscription_usuarioId_endpoint_key" ON "PushSubscription"("usuarioId", "endpoint");

-- CreateIndex
CREATE INDEX "LogAlteracaoAta_ataId_idx" ON "LogAlteracaoAta"("ataId");

-- CreateIndex
CREATE INDEX "LogAlteracaoAta_usuarioId_idx" ON "LogAlteracaoAta"("usuarioId");

-- CreateIndex
CREATE INDEX "LogAlteracaoAta_tipoAlteracao_idx" ON "LogAlteracaoAta"("tipoAlteracao");

-- CreateIndex
CREATE INDEX "LogAlteracaoAta_createdAt_idx" ON "LogAlteracaoAta"("createdAt");

-- CreateIndex
CREATE INDEX "ConfiguracaoEmail_ativo_idx" ON "ConfiguracaoEmail"("ativo");

-- CreateIndex
CREATE INDEX "LogEnvioEmail_configuracaoId_idx" ON "LogEnvioEmail"("configuracaoId");

-- CreateIndex
CREATE INDEX "LogEnvioEmail_status_idx" ON "LogEnvioEmail"("status");

-- CreateIndex
CREATE INDEX "LogEnvioEmail_createdAt_idx" ON "LogEnvioEmail"("createdAt");

-- CreateIndex
CREATE INDEX "LogEnvioEmail_destinatario_idx" ON "LogEnvioEmail"("destinatario");

-- CreateIndex
CREATE UNIQUE INDEX "BravoSyncConfig_chave_key" ON "BravoSyncConfig"("chave");

-- CreateIndex
CREATE INDEX "BravoSyncConfig_chave_idx" ON "BravoSyncConfig"("chave");

-- CreateIndex
CREATE INDEX "BravoCampoMapeamento_ativo_idx" ON "BravoCampoMapeamento"("ativo");

-- CreateIndex
CREATE INDEX "BravoCampoMapeamento_ordem_idx" ON "BravoCampoMapeamento"("ordem");

-- CreateIndex
CREATE INDEX "Produto_referencia_idx" ON "Produto"("referencia");

-- CreateIndex
CREATE INDEX "Produto_id_prod_idx" ON "Produto"("id_prod");

-- CreateIndex
CREATE INDEX "Produto_ativo_idx" ON "Produto"("ativo");

-- CreateIndex
CREATE INDEX "Produto_marca_idx" ON "Produto"("marca");

-- CreateIndex
CREATE INDEX "Produto_grupo_idx" ON "Produto"("grupo");

-- CreateIndex
CREATE INDEX "Produto_dataUltModif_idx" ON "Produto"("dataUltModif");

-- CreateIndex
CREATE UNIQUE INDEX "Produto_referencia_id_prod_key" ON "Produto"("referencia", "id_prod");

-- CreateIndex
CREATE INDEX "BravoSyncLog_status_idx" ON "BravoSyncLog"("status");

-- CreateIndex
CREATE INDEX "BravoSyncLog_sync_type_idx" ON "BravoSyncLog"("sync_type");

-- CreateIndex
CREATE INDEX "BravoSyncLog_started_at_idx" ON "BravoSyncLog"("started_at");

-- CreateIndex
CREATE INDEX "BravoSyncLog_can_resume_idx" ON "BravoSyncLog"("can_resume");

-- CreateIndex
CREATE INDEX "BravoSyncLog_userId_idx" ON "BravoSyncLog"("userId");

-- CreateIndex
CREATE UNIQUE INDEX "BravoSyncProgress_sync_log_id_key" ON "BravoSyncProgress"("sync_log_id");

-- CreateIndex
CREATE INDEX "BravoSyncProgress_sync_log_id_idx" ON "BravoSyncProgress"("sync_log_id");

-- CreateIndex
CREATE UNIQUE INDEX "Marca_nome_key" ON "Marca"("nome");

-- CreateIndex
CREATE INDEX "Marca_nome_idx" ON "Marca"("nome");

-- CreateIndex
CREATE UNIQUE INDEX "Grupo_nome_key" ON "Grupo"("nome");

-- CreateIndex
CREATE INDEX "Grupo_nome_idx" ON "Grupo"("nome");

-- CreateIndex
CREATE UNIQUE INDEX "Subgrupo_nome_key" ON "Subgrupo"("nome");

-- CreateIndex
CREATE INDEX "Subgrupo_nome_idx" ON "Subgrupo"("nome");

-- CreateIndex
CREATE INDEX "Venda_nfe_idx" ON "Venda"("nfe");

-- CreateIndex
CREATE INDEX "Venda_dataVenda_idx" ON "Venda"("dataVenda");

-- CreateIndex
CREATE INDEX "Venda_empresaId_dataVenda_idx" ON "Venda"("empresaId", "dataVenda");

-- CreateIndex
CREATE INDEX "Venda_referencia_idx" ON "Venda"("referencia");

-- CreateIndex
CREATE INDEX "Venda_razaoSocial_idx" ON "Venda"("razaoSocial");

-- CreateIndex
CREATE INDEX "Venda_idDoc_idx" ON "Venda"("idDoc");

-- CreateIndex
CREATE INDEX "Venda_marca_idx" ON "Venda"("marca");

-- CreateIndex
CREATE INDEX "Venda_grupo_idx" ON "Venda"("grupo");

-- CreateIndex
CREATE INDEX "Venda_subgrupo_idx" ON "Venda"("subgrupo");

-- CreateIndex
CREATE INDEX "Venda_prodCodMestre_idx" ON "Venda"("prodCodMestre");

-- CreateIndex
CREATE INDEX "Venda_tipoOperacao_idx" ON "Venda"("tipoOperacao");

-- CreateIndex
CREATE INDEX "Venda_importacaoLogId_idx" ON "Venda"("importacaoLogId");

-- CreateIndex
CREATE INDEX "Venda_nfe_dataVenda_referencia_idx" ON "Venda"("nfe", "dataVenda", "referencia");

-- CreateIndex
CREATE UNIQUE INDEX "Venda_nfe_idDoc_referencia_key" ON "Venda"("nfe", "idDoc", "referencia");

-- CreateIndex
CREATE INDEX "VendaAnalytics_ano_mes_idx" ON "VendaAnalytics"("ano", "mes");

-- CreateIndex
CREATE INDEX "VendaAnalytics_empresaId_ano_mes_idx" ON "VendaAnalytics"("empresaId", "ano", "mes");

-- CreateIndex
CREATE INDEX "VendaAnalytics_marca_idx" ON "VendaAnalytics"("marca");

-- CreateIndex
CREATE INDEX "VendaAnalytics_grupo_idx" ON "VendaAnalytics"("grupo");

-- CreateIndex
CREATE INDEX "VendaAnalytics_subgrupo_idx" ON "VendaAnalytics"("subgrupo");

-- CreateIndex
CREATE INDEX "VendaAnalytics_tipoOperacao_idx" ON "VendaAnalytics"("tipoOperacao");

-- CreateIndex
CREATE INDEX "VendaAnalytics_uf_idx" ON "VendaAnalytics"("uf");

-- CreateIndex
CREATE INDEX "VendaAnalytics_nomeFantasia_idx" ON "VendaAnalytics"("nomeFantasia");

-- CreateIndex
CREATE UNIQUE INDEX "VendaAnalytics_ano_mes_nomeFantasia_marca_grupo_subgrupo_ti_key" ON "VendaAnalytics"("ano", "mes", "nomeFantasia", "marca", "grupo", "subgrupo", "tipoOperacao", "uf", "empresaId");

-- CreateIndex
CREATE INDEX "VendaImportacaoLog_createdAt_idx" ON "VendaImportacaoLog"("createdAt");

-- CreateIndex
CREATE INDEX "VendaImportacaoLog_usuarioId_idx" ON "VendaImportacaoLog"("usuarioId");

-- CreateIndex
CREATE INDEX "VendaColumnMapping_usuarioId_idx" ON "VendaColumnMapping"("usuarioId");

-- CreateIndex
CREATE INDEX "VendaColumnMapping_createdAt_idx" ON "VendaColumnMapping"("createdAt");

-- CreateIndex
CREATE INDEX "VendaAnalyticsFilter_usuarioId_idx" ON "VendaAnalyticsFilter"("usuarioId");

-- CreateIndex
CREATE INDEX "VendaAnalyticsFilter_createdAt_idx" ON "VendaAnalyticsFilter"("createdAt");

-- CreateIndex
CREATE INDEX "Pedido_numeroPedido_idx" ON "Pedido"("numeroPedido");

-- CreateIndex
CREATE INDEX "Pedido_dataPedido_idx" ON "Pedido"("dataPedido");

-- CreateIndex
CREATE INDEX "Pedido_empresaId_dataPedido_idx" ON "Pedido"("empresaId", "dataPedido");

-- CreateIndex
CREATE INDEX "Pedido_referencia_idx" ON "Pedido"("referencia");

-- CreateIndex
CREATE INDEX "Pedido_nomeFantasia_idx" ON "Pedido"("nomeFantasia");

-- CreateIndex
CREATE INDEX "Pedido_idDoc_idx" ON "Pedido"("idDoc");

-- CreateIndex
CREATE INDEX "Pedido_marca_idx" ON "Pedido"("marca");

-- CreateIndex
CREATE INDEX "Pedido_grupo_idx" ON "Pedido"("grupo");

-- CreateIndex
CREATE INDEX "Pedido_subgrupo_idx" ON "Pedido"("subgrupo");

-- CreateIndex
CREATE INDEX "Pedido_importacaoLogId_idx" ON "Pedido"("importacaoLogId");

-- CreateIndex
CREATE INDEX "Pedido_numeroPedido_dataPedido_referencia_idx" ON "Pedido"("numeroPedido", "dataPedido", "referencia");

-- CreateIndex
CREATE UNIQUE INDEX "Pedido_numeroPedido_idDoc_referencia_key" ON "Pedido"("numeroPedido", "idDoc", "referencia");

-- CreateIndex
CREATE INDEX "PedidoAnalytics_ano_mes_idx" ON "PedidoAnalytics"("ano", "mes");

-- CreateIndex
CREATE INDEX "PedidoAnalytics_empresaId_ano_mes_idx" ON "PedidoAnalytics"("empresaId", "ano", "mes");

-- CreateIndex
CREATE INDEX "PedidoAnalytics_marca_idx" ON "PedidoAnalytics"("marca");

-- CreateIndex
CREATE INDEX "PedidoAnalytics_grupo_idx" ON "PedidoAnalytics"("grupo");

-- CreateIndex
CREATE INDEX "PedidoAnalytics_subgrupo_idx" ON "PedidoAnalytics"("subgrupo");

-- CreateIndex
CREATE INDEX "PedidoAnalytics_nomeFantasia_idx" ON "PedidoAnalytics"("nomeFantasia");

-- CreateIndex
CREATE UNIQUE INDEX "PedidoAnalytics_ano_mes_nomeFantasia_marca_grupo_subgrupo_e_key" ON "PedidoAnalytics"("ano", "mes", "nomeFantasia", "marca", "grupo", "subgrupo", "empresaId");

-- CreateIndex
CREATE INDEX "PedidoImportacaoLog_createdAt_idx" ON "PedidoImportacaoLog"("createdAt");

-- CreateIndex
CREATE INDEX "PedidoImportacaoLog_usuarioId_idx" ON "PedidoImportacaoLog"("usuarioId");

-- CreateIndex
CREATE INDEX "PedidoColumnMapping_usuarioId_idx" ON "PedidoColumnMapping"("usuarioId");

-- CreateIndex
CREATE INDEX "PedidoColumnMapping_createdAt_idx" ON "PedidoColumnMapping"("createdAt");

-- CreateIndex
CREATE INDEX "PedidoAnalyticsFilter_usuarioId_idx" ON "PedidoAnalyticsFilter"("usuarioId");

-- CreateIndex
CREATE INDEX "PedidoAnalyticsFilter_createdAt_idx" ON "PedidoAnalyticsFilter"("createdAt");

-- CreateIndex
CREATE INDEX "UsuarioCliente_usuarioId_idx" ON "UsuarioCliente"("usuarioId");

-- CreateIndex
CREATE INDEX "UsuarioCliente_nomeFantasia_idx" ON "UsuarioCliente"("nomeFantasia");

-- CreateIndex
CREATE UNIQUE INDEX "UsuarioCliente_usuarioId_nomeFantasia_tipoCliente_key" ON "UsuarioCliente"("usuarioId", "nomeFantasia", "tipoCliente");

-- AddForeignKey
ALTER TABLE "TemplateImportacao" ADD CONSTRAINT "TemplateImportacao_empresaId_fkey" FOREIGN KEY ("empresaId") REFERENCES "Empresa"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "Upload" ADD CONSTRAINT "Upload_empresaId_fkey" FOREIGN KEY ("empresaId") REFERENCES "Empresa"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "Upload" ADD CONSTRAINT "Upload_templateId_fkey" FOREIGN KEY ("templateId") REFERENCES "TemplateImportacao"("id") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "LinhaUpload" ADD CONSTRAINT "LinhaUpload_uploadId_fkey" FOREIGN KEY ("uploadId") REFERENCES "Upload"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "Alerta" ADD CONSTRAINT "Alerta_linhaId_fkey" FOREIGN KEY ("linhaId") REFERENCES "LinhaUpload"("id") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "Alerta" ADD CONSTRAINT "Alerta_uploadId_fkey" FOREIGN KEY ("uploadId") REFERENCES "Upload"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "LogAuditoria" ADD CONSTRAINT "LogAuditoria_usuarioId_fkey" FOREIGN KEY ("usuarioId") REFERENCES "Usuario"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "ResumoEconomico" ADD CONSTRAINT "ResumoEconomico_criadoPor_fkey" FOREIGN KEY ("criadoPor") REFERENCES "Usuario"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "ResumoEconomico" ADD CONSTRAINT "ResumoEconomico_empresaId_fkey" FOREIGN KEY ("empresaId") REFERENCES "Empresa"("id") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "ResumoEconomico" ADD CONSTRAINT "ResumoEconomico_uploadId_fkey" FOREIGN KEY ("uploadId") REFERENCES "Upload"("id") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "Processo" ADD CONSTRAINT "Processo_userId_fkey" FOREIGN KEY ("userId") REFERENCES "Usuario"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "Processo" ADD CONSTRAINT "Processo_empresaId_fkey" FOREIGN KEY ("empresaId") REFERENCES "Empresa"("id") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "ProcessoItem" ADD CONSTRAINT "ProcessoItem_processoId_fkey" FOREIGN KEY ("processoId") REFERENCES "Processo"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "ProcessoAnexo" ADD CONSTRAINT "ProcessoAnexo_processoId_fkey" FOREIGN KEY ("processoId") REFERENCES "Processo"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "ProcessoHistorico" ADD CONSTRAINT "ProcessoHistorico_processoId_fkey" FOREIGN KEY ("processoId") REFERENCES "Processo"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "AtaReuniao" ADD CONSTRAINT "AtaReuniao_criadoPor_fkey" FOREIGN KEY ("criadoPor") REFERENCES "Usuario"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "AtaReuniao" ADD CONSTRAINT "AtaReuniao_empresaId_fkey" FOREIGN KEY ("empresaId") REFERENCES "Empresa"("id") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "AtaReuniao" ADD CONSTRAINT "AtaReuniao_modeloAtaId_fkey" FOREIGN KEY ("modeloAtaId") REFERENCES "ModeloAta"("id") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "AtaParticipante" ADD CONSTRAINT "AtaParticipante_ataId_fkey" FOREIGN KEY ("ataId") REFERENCES "AtaReuniao"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "AtaParticipante" ADD CONSTRAINT "AtaParticipante_usuarioId_fkey" FOREIGN KEY ("usuarioId") REFERENCES "Usuario"("id") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "AtaAnexo" ADD CONSTRAINT "AtaAnexo_ataId_fkey" FOREIGN KEY ("ataId") REFERENCES "AtaReuniao"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "AtaComentario" ADD CONSTRAINT "AtaComentario_ataId_fkey" FOREIGN KEY ("ataId") REFERENCES "AtaReuniao"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "AtaComentario" ADD CONSTRAINT "AtaComentario_autorId_fkey" FOREIGN KEY ("autorId") REFERENCES "Usuario"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "AtaComentario" ADD CONSTRAINT "AtaComentario_comentarioPaiId_fkey" FOREIGN KEY ("comentarioPaiId") REFERENCES "AtaComentario"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "ModeloAta" ADD CONSTRAINT "ModeloAta_criadoPor_fkey" FOREIGN KEY ("criadoPor") REFERENCES "Usuario"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "ModeloAta" ADD CONSTRAINT "ModeloAta_empresaId_fkey" FOREIGN KEY ("empresaId") REFERENCES "Empresa"("id") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "HistoricoAndamento" ADD CONSTRAINT "HistoricoAndamento_ataId_fkey" FOREIGN KEY ("ataId") REFERENCES "AtaReuniao"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "HistoricoAndamento" ADD CONSTRAINT "HistoricoAndamento_criadoPor_fkey" FOREIGN KEY ("criadoPor") REFERENCES "Usuario"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "PrazoAcao" ADD CONSTRAINT "PrazoAcao_ataId_fkey" FOREIGN KEY ("ataId") REFERENCES "AtaReuniao"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "PrazoAcao" ADD CONSTRAINT "PrazoAcao_criadoPor_fkey" FOREIGN KEY ("criadoPor") REFERENCES "Usuario"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "LembretePrazo" ADD CONSTRAINT "LembretePrazo_prazoId_fkey" FOREIGN KEY ("prazoId") REFERENCES "PrazoAcao"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "LembretePrazo" ADD CONSTRAINT "LembretePrazo_usuarioId_fkey" FOREIGN KEY ("usuarioId") REFERENCES "Usuario"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "PreferenciaNotificacao" ADD CONSTRAINT "PreferenciaNotificacao_usuarioId_fkey" FOREIGN KEY ("usuarioId") REFERENCES "Usuario"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "PushSubscription" ADD CONSTRAINT "PushSubscription_usuarioId_fkey" FOREIGN KEY ("usuarioId") REFERENCES "Usuario"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "LogAlteracaoAta" ADD CONSTRAINT "LogAlteracaoAta_ataId_fkey" FOREIGN KEY ("ataId") REFERENCES "AtaReuniao"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "LogAlteracaoAta" ADD CONSTRAINT "LogAlteracaoAta_usuarioId_fkey" FOREIGN KEY ("usuarioId") REFERENCES "Usuario"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "LogEnvioEmail" ADD CONSTRAINT "LogEnvioEmail_configuracaoId_fkey" FOREIGN KEY ("configuracaoId") REFERENCES "ConfiguracaoEmail"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "BravoSyncProgress" ADD CONSTRAINT "BravoSyncProgress_sync_log_id_fkey" FOREIGN KEY ("sync_log_id") REFERENCES "BravoSyncLog"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "Venda" ADD CONSTRAINT "Venda_empresaId_fkey" FOREIGN KEY ("empresaId") REFERENCES "Empresa"("id") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "Venda" ADD CONSTRAINT "Venda_produtoId_fkey" FOREIGN KEY ("produtoId") REFERENCES "Produto"("id") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "Venda" ADD CONSTRAINT "Venda_importacaoLogId_fkey" FOREIGN KEY ("importacaoLogId") REFERENCES "VendaImportacaoLog"("id") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "VendaAnalytics" ADD CONSTRAINT "VendaAnalytics_empresaId_fkey" FOREIGN KEY ("empresaId") REFERENCES "Empresa"("id") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "VendaImportacaoLog" ADD CONSTRAINT "VendaImportacaoLog_usuarioId_fkey" FOREIGN KEY ("usuarioId") REFERENCES "Usuario"("id") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "VendaColumnMapping" ADD CONSTRAINT "VendaColumnMapping_usuarioId_fkey" FOREIGN KEY ("usuarioId") REFERENCES "Usuario"("id") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "VendaAnalyticsFilter" ADD CONSTRAINT "VendaAnalyticsFilter_usuarioId_fkey" FOREIGN KEY ("usuarioId") REFERENCES "Usuario"("id") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "Pedido" ADD CONSTRAINT "Pedido_empresaId_fkey" FOREIGN KEY ("empresaId") REFERENCES "Empresa"("id") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "Pedido" ADD CONSTRAINT "Pedido_produtoId_fkey" FOREIGN KEY ("produtoId") REFERENCES "Produto"("id") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "Pedido" ADD CONSTRAINT "Pedido_importacaoLogId_fkey" FOREIGN KEY ("importacaoLogId") REFERENCES "PedidoImportacaoLog"("id") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "PedidoAnalytics" ADD CONSTRAINT "PedidoAnalytics_empresaId_fkey" FOREIGN KEY ("empresaId") REFERENCES "Empresa"("id") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "PedidoImportacaoLog" ADD CONSTRAINT "PedidoImportacaoLog_usuarioId_fkey" FOREIGN KEY ("usuarioId") REFERENCES "Usuario"("id") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "PedidoColumnMapping" ADD CONSTRAINT "PedidoColumnMapping_usuarioId_fkey" FOREIGN KEY ("usuarioId") REFERENCES "Usuario"("id") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "PedidoAnalyticsFilter" ADD CONSTRAINT "PedidoAnalyticsFilter_usuarioId_fkey" FOREIGN KEY ("usuarioId") REFERENCES "Usuario"("id") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "UsuarioCliente" ADD CONSTRAINT "UsuarioCliente_usuarioId_fkey" FOREIGN KEY ("usuarioId") REFERENCES "Usuario"("id") ON DELETE CASCADE ON UPDATE CASCADE;

